body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
ol, ul { list-style: none; }
body {
  background: #ffffff;
  color: #333333;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
	margin-left: 10px;
	margin-right: 20px;
}


/*----------------------------------------button.css----------------------------------------*/
.button, button, input[type="button"], input[type="submit"] { margin: 0; padding: 0; border: 0; outline: 0; }
.button, button, input[type="button"], input[type="submit"] { padding: 5px 36px; background-color: #f5f5f5; color: #333; display: inline-block; border-radius: 3px 3px; cursor: pointer; margin: 5px;}
    .button:hover, input[type="button"]:hover, input[type="submit"]:hover { background-color: #e3e3e3; color: #444; }
.button-blue { background-color: #0079bc; color: #fff; }
    .button-blue:hover { background-color: #00509d; color: #fff; }
.button-red { background-color: #E64346; color: #fff; }
    .button-red:hover { background-color: #A40000; color: #fff; }
.button-green { background-color: #93d090; color: #fff; }
    .button-green:hover { background-color: #55a56b; color: #fff; }
.button-gray { background-color:  #C0C0C0; color: #fff; }
    .button-gray:hover { background-color: #808080; color: #fff; }

.button-disable { background-color:  #C0C0C0; color: #fff; }
    .button-disable:hover { background-color: #C0C0C0; color: #fff; }

.container { max-width: 1200px; margin: 0 auto; text-align: center; }

.block{ margin: 0 auto; font-size: 18px;}

.block textarea,.block select,.block input {
  font-size: 18px;
}

.block input{
  height: 25px;
}

.width_100px{
  width: 100px;
}

.labfor{
  font-size: 18px;
  font-weight: 900;
}

.mg_t10{
  margin-top: 10px;
}

.mg_t20{
	margin-top: 20px;
}

.large_button{
	font-size: 25px;
	font-weight: 900;
}

.context_li{
	border: 1px solid rgba(0, 0, 0, 0.15);
    display:inline-block;
    word-break:break-all;
    width: 100%;
    border-radius: 0.3125em;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;min-height: 60px;
}

.sel_context{
	background-color:#FECF78; 	
}



.float_left{
	float: left;
}

.width_50{
	width: 50%;
}
.width_100{
	width: 100%;
}

.height_120{
  height: 120px;
}

.height_250{
  height: 120px;
}

.fix_right4px{
  position:absolute;right:4px;  
}

.noshow{
  display: none;
}

.ui-corner-all {
    border-radius: 0.3125em;
}

.border_solid {
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
}

.bg_green{
  background-color: #55A56B;
  color: #FFFFFF;
}

.bg_red {
    background-color: #A40000;
    color: #FFFFFF;
}

.min_height60{
  min-height: 60px;
}

/*---------------------------------------------------------*/
.select_ui li{
    float: left;
    display: block;
    font-size: 28px;
    padding: 5px;
    margin:10px 10px; 
    border-radius: 0.3125em;
    min-width: 50px;
    text-align: center;
  }

  .sel-c5{
    background-color:#FF8080
  }
  .sel-c4{
    background-color:#FECF78
  }
  .sel-c3{
    background-color:#B9EA48
  }
  .sel-c2{
    background-color:#00C462
  }
  .sel-c1{
    background-color:#1E8EFF
  }

  .ct_show span{
    border-radius: 0.3125em;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    padding: 2px;
  }

.table_def {
border-collapse:collapse; /* 关键属性：合并表格内外边框(其实表格边框有2px，外面1px，里面还有1px哦) */
border:solid #999; /* 设置边框属性；样式(solid=实线)、颜色(#999=灰) */
border-width:1px 0 0 1px; /* 设置边框状粗细：上 右 下 左 = 对应：1px 0 0 1px */
text-align: center;
} 
.table_def th,.table_def td {border:solid #999;border-width:0 1px 1px 0;padding:2px;}
