<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fyg.pg.infrastructure.persistent.CommunityMapper">
	
	<select id="all" resultType="Community" >
		select * from community  order by no
	</select>
	
	<select id="find" resultType="Community" >
		select * from community  where `key`=#{key}
	</select>
	
</mapper>