<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fyg.pg.infrastructure.persistent.ItemchkMapper">
	
	<select id="findByQuesAndUserAndCommunity" resultMap="ItemchkWithVal">
		select * from itemchk where ques_key=#{ques_key} and userid=#{userid} and community_key=#{community_key} 
	</select>
	<resultMap type="Itemchk" id="ItemchkWithVal">
		<id property="id" column="id" />
		<collection property="val" javaType="ArrayList" column="id" ofType="String" select="selectValForItemchk" />
	</resultMap>
	<select id="selectValForItemchk" resultType="Itemval">
	  select item_code,val from itemval where itemchk_id = #{id}
	</select>
	
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="Itemchk">  
	   insert into itemchk (ques_key,community_key,userid) 
	   values (#{ques_key},#{community_key},#{userid})
	</insert>  
	
	<delete id="deleteVal" >
		delete from itemval
		where itemchk_id=#{itemchk_id} and  item_code=#{item_code}
	</delete>
	
	<insert id="insertVal" >  
	  insert into itemval (itemchk_id,item_code,val) 
	  values (#{itemchk_id},#{item_code},#{val})
	</insert>  
	
	<update id="updateVal" >  
	  update itemval set val=#{val} 
	  where itemchk_id=#{itemchk_id} and  item_code=#{item_code}
	</update>  
	
	<select id="exits" resultType="boolean">
	  select count(itemchk_id) from itemval
	  where itemchk_id=#{itemchk_id} and  item_code=#{item_code}
	</select>
	
	<select id="countByQuesAndUserAndCommunityAndItem" resultType="int">
		select ifnull(sum(val),0) from itemval 
		where itemval.itemchk_id=(select id from itemchk where ques_key=#{ques_key} and userid=#{userid} and community_key=#{community_key}) 
		and item_code like '${item_code}.%'
	</select>
	
</mapper>